html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.main {
    position: relative;
    padding: 5vmin;
    height: 100%;
    box-sizing: border-box;
}

#mainCanvas {
    width: 100%;
    height: 100%;
}

.slider {
    position: absolute;
    height: 2em;
    bottom: 20px;
    right: 20px;
    width: 200px;
}

.slider:before {
    content: " ";
    display: block;
    position: absolute;
    border-top: 1px solid #fff;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
}

.slider .snap {
    content: " ";
    display: block;
    position: absolute;
    top: 0.75em;
    height: 0.6em;
    width: 1px;
    background-color: #fff;
}

.slider .handle {
    pointer-events: none;
    position: absolute;
    background-color: #fff;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-left: -0.5em;
    top: 0.5em;
}
